html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #100731;
	background-image: url(assets/images/blue_nebula.png);
	overflow: hidden;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
}
